.navbar {
    justify-content: space-between;
}

@media (max-width: 574px)
/*xs*/

{
    * {
        margin: 0;
    }
    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .row {
        padding: 0;
        margin: 0;
        float: left;
    }
    .container {
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    #titulo {
        font-size: 1em;
    }
    .navbar-toggler {
        float: right;
    }
    
}

@media (min-width: 575px) and (max-width: 768px)
/*sm*/

{
    body {
        padding: 0;
        margin: 0;
    }
    .container {
        margin-left: 50px;
    }
    #titulo {
        font-size: 2em;
    }
    .navbar-toggler {
        float: right;
    }
}

@media (min-width: 768px) and (max-width: 991px)
/*md*/

{
    .navbar-toggler {
        float: right;
    }
    #titulo {
        font-size: 2em;
    }
    .navbar-nav {
        float: right;
        margin: 0;
    }
    .row {
        background-color: crimson;
    }
}

@media (min-width: 992px) and (max-width: 1200px)
/*lg*/

{
    .navbar-toggler {
        float: right;
    }
    .card {
        margin: 10px;
        width: 18em;
        margin-bottom: 20px;
    }
    #titulo {
        font-size: 2em;
    }
    .navbar-nav {
        float: right;
        margin: 0;
        justify-content: right;
    }
    .row {
        background-color: crimson;
    }
}

@media (min-width: 1201px)
/*xl*/

{
    .navbar-toggler {
        float: right;
    }
    #titulo {
        font-size: 2em;
    }
    .navbar-nav {
        float: right;
        margin: 0;
        justify-content: right;
    }
    /*.row {
        background-color: crimson;
    }*/
}

.navbar {
    justify-content: space-between;
}

#principal {
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: rgb(230, 225, 225);
}

.conimag {
    padding: 0 3em;
}

img {
    width: 53em;
    height: 30em;
}

.titulos {
    margin-left: 1em;
}

.titulos h1 {
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
}

div p {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

#inicial{
    font-size: 2em;
    font-weight: bold;
    height: 2em;
}

#texto{
    margin: 1em 2.3em;
}