.nuevaSeccion {
    margin-top: 4em;
    background-color: blue;
}

#titulo {
    font-size: 2em;
}

.navbar-toggler {
    float: right;
}

#primer {
    margin-top: 2em;
    align-items: left;
}

.card {
    float: left;
}

li a:hover {
    background-color: rgb(2, 2, 66);
}

@media (max-width: 574px) {
    body {
        padding: 0;
        margin: 0;
    }
    .container {
        align-items: center;
        padding: 0;
        width: 100%;
        justify-content: center;
        margin-left: 50px;
    }
    .card {
        width: 18rem;
        margin-bottom: 10px;
    }
    .navbar-toggler {
        float: right;
    }
    #miniaturas {
        margin-left: 50px;
        padding-left: 60px;
    }
    .card-img-top {
        height: 286px;
    }
}

@media (min-width: 575px) and (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
    }
    .card {
        width: 18rem;
        margin-bottom: 10px;
    }
    .container {
        margin-left: 50px;
    }
    #titulo {
        font-size: 2em;
    }
    .navbar-toggler {
        float: right;
    }
    #miniaturas {
        margin-left: 50px;
        padding-left: 60px;
    }
    .card-img-top {
        height: 286px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .navbar-toggler {
        float: right;
    }
    .card {
        margin: 10px;
        width: 18rem;
    }
    #titulo {
        font-size: 2em;
    }
    .navbar-nav {
        float: right;
        margin: 0;
    }
    .me-auto {
        margin: 0 !important;
    }
    #ultimo {
        padding-left: 200px;
    }
    .card-img-top {
        height: 286px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-toggler {
        float: right;
    }
    .card {
        margin: 10px;
        width: 400px;
        margin-bottom: 20px;
    }
    #titulo {
        font-size: 2em;
    }
    #slider {
        position: relative;
        width: 600px;
        height: 400px;
        justify-content: center;
    }
    #slider>div {
        position: absolute;
    }
    .navbar-nav {
        float: right;
        margin: 0;
        justify-content: right;
    }
    .navbarColor02 {
        width: 250px;
    }
    .me-auto {
        margin: 0 !important;
    }
    .abajo {
        padding-left: 40px;
    }
    .card-img-top {
        height: 286px;
    }
}

@media (min-width: 1201px) {
    .navbar-toggler {
        float: right;
    }
    .card {
        margin: 10px;
        width: 400px;
        margin-bottom: 20px;
    }
    #titulo {
        font-size: 2em;
    }
    #slider {
        position: relative;
        width: 600px;
        height: 400px;
        justify-content: center;
    }
    #slider>div {
        position: absolute;
    }
    .navbar-nav {
        float: right;
        margin: 0;
        justify-content: right;
    }
    .navbarColor02 {
        width: 250px;
    }
    .me-auto {
        margin: 0 !important;
    }
    .abajo {
        width: 500px;
        padding-left: 70px;
    }
    .card-img-top {
        height: 286px;
    }
}

#pie {
    text-align: center;
    background-color: indigo;
}

.navbar {
    clear: right;
}