.nuevaSeccion {
    margin-top: 4em;
    background-color: blue;
}

#titulo {
    font-family: 'Dancing Script', cursive;
}

.navbar-toggler {
    float: right;
}

#primer {
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 0;
    align-items: left;
}

.card {
    float: left;
}

li a {
    text-align: center;
}

li a:hover {
    background-color: rgb(2, 2, 66);
}

.jumbotron-fluid {
    background-color: rgb(41, 39, 39);
}

@media (max-width: 576px)
/*xs*/

{
    body {
        padding: 0;
        margin: 0;
    }
    .card {
        width: 20em;
    }
    .container {
        padding: 0 2em;
        width: 100%;
    }
    #titulo {
        padding-top: 0.2em;
        font-size: 1.5em;
    }
    #slider {
        position: relative;
        width: 20em;
        height: 20em;
        justify-content: center;
        background-color: rgb(41, 39, 39);
        margin-bottom: 2em;
    }
    #slider>div {
        position: absolute;
        margin: 1em 2em;
    }
    #slider>div>a,
    #slider>div>a:hover {
        text-decoration: none;
        color: black;
    }
    .images {
        width: 15em;
        height: 12em;
    }
    #miniaturas {
        margin: 0;
    }
    .card-img-top {
        height: 286px;
    }
    #botones {
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 576px) and (max-width: 768px)
/*sm*/

{
    body {
        padding: 0;
        margin: 0;
    }
    .card {
        width: 25em;
        margin: 2em 4em;
    }
    .container {
        padding: 0 1.5em;
        width: 100%;
    }
    #titulo {
        padding-top: 0.2em;
        font-size: 1.5em;
    }
    #slider {
        position: relative;
        width: 20em;
        height: 28em;
        justify-content: center;
        background-color: rgb(41, 39, 39);
        margin-bottom: 2em;
    }
    #slider>div {
        position: absolute;
        margin: 1em 3em;
    }
    #slider>div>a,
    #slider>div>a:hover {
        text-decoration: none;
        color: black;
    }
    .images {
        width: 27em;
        height: 23em;
    }
    .navbar-toggler {
        float: right;
    }
    #miniaturas {
        margin: 0;
    }
    .card-img-top {
        height: 286px;
    }
    #botones {
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 991px)
/*md*/

{
    body {
        padding: 0;
        margin: 0;
    }
    .card {
        width: 20em;
        max-width: 24em;
        height: 36em;
        margin: 2em 4em;
    }
    .container {
        padding: 0 2em;
        width: 100%;
    }
    #titulo {
        padding-top: 0.2em;
        font-size: 2em;
    }
    #slider {
        position: relative;
        width: 40em;
        height: 30em;
        justify-content: center;
        background-color: rgb(41, 39, 39);
        margin-bottom: 2em;
    }
    #slider>div {
        position: absolute;
        margin: 1em 3em;
    }
    #slider>div>a,
    #slider>div>a:hover {
        text-decoration: none;
        color: black;
    }
    .images {
        width: 38em;
        height: 23em;
    }
    .navbar-toggler {
        float: right;
    }
    #miniaturas {
        margin: 0;
    }
    .card-img-top {
        height: 15em;
    }
    #botones {
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    #ultimo {
        margin-left: 10em;
        width: 22em;
    }
}

@media (min-width: 992px) and (max-width: 1200px)
/*lg*/

{
    .navbar-toggler {
        float: right;
    }
    .card {
        margin: 10px;
        width: 18em;
        margin-bottom: 20px;
    }
    #titulo {
        font-size: 2em;
    }
    #slider {
        position: relative;
        width: 50em;
        height: 32em;
        justify-content: center;
        background-color: rgb(41, 39, 39);
    }
    #slider>div {
        position: absolute;
        max-width: 67em;
        margin: 20px 3.8em;
    }
    #slider>div>a,
    #slider>div>a:hover {
        text-decoration: none;
        color: black;
    }
    .images {
        width: 52em;
        height: 26.5em;
    }
    .navbar-nav {
        float: right;
        margin: 0;
        justify-content: right;
    }
    .navbarColor02 {
        width: 250px;
    }
    .me-auto {
        margin: 0 !important;
    }
    .abajo {
        margin: 0 4em;
        width: 22em;
    }
    .card-img-top {
        height: 286px;
    }
    #botones {
        margin: 0;
        padding: 0;
        float: right;
        justify-content: space-between;
    }
}

@media (min-width: 1201px)
/*xl*/

{
    .navbar-toggler {
        float: right;
    }
    .card {
        margin: 10px;
        width: 23em;
        height: 36em;
        margin-bottom: 20px;
    }
    #titulo {
        font-size: 2em;
    }
    #slider {
        position: relative;
        width: 67em;
        height: 35em;
        justify-content: center;
        background-color: rgb(41, 39, 39);
    }
    #slider>div {
        position: absolute;
        margin: 30px 140px;
    }
    #slider>div>a,
    #slider>div>a:hover {
        text-decoration: none;
        color: black;
    }
    .images {
        width: 49em;
        height: 26.5em;
    }
    .navbar-nav {
        float: right;
        margin: 0;
        justify-content: right;
    }
    .navbarColor02 {
        width: 250px;
    }
    .me-auto {
        margin: 0 !important;
    }
    .abajo {
        margin: 0 4em;
        width: 28em;
    }
    .card-img-top {
        height: 20em;
    }
    #botones {
        margin: 0;
        padding: 0;
        float: right;
        justify-content: space-between;
    }
}

#pie {
    text-align: center;
    background-color: indigo;
}

.navbar {
    justify-content: space-between;
}

.textimage {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

#contenedortitle {
    margin: 0;
}