.nuevaSeccion {
    margin-top: 4em;
    background-color: blue;
}

#titulo {
    font-size: 2em;
}

.navbar-toggler {
    float: right;
}

#primer {
    margin-top: 2em;
    align-items: left;
}



.card {
    float: left;
}

li a:hover {
    background-color: rgb(2, 2, 66);
}

@media (max-width: 574px) {
    body{
        padding: 0;
        margin: 0;
    }
    .container {
        align-items: center;
        padding: 0;
    }
    .card {
        width: 150px;
        margin-bottom: 10px;
    }
    .navbar-toggler {
        float: right;
    }

}

@media (min-width: 575px) and (max-width: 768px) {
    body{
        padding: 0;
        margin: 0;
    }
    .card {
        width: 150px;
        margin-bottom: 10px;
    }
    
    #titulo {
        font-size: 2em;
    }

    .navbar-toggler {
        float: right;
    }


}

@media (min-width: 769px) and (max-width: 991px) {
    .navbar-toggler {
        float: right;
    }
    .card {
        margin: 10px;
        width: 314px;
    }
    #titulo {
        font-size: 2em;
    }

    .navbar-nav {
        float: right;
        margin: 0;
    }

    .me-auto{
        margin: 0 !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-toggler {
        float: right;
    }
    .card {
        margin: 10px;
        width: 314px;
    }
    #titulo {
        font-size: 2em;
    }

    .navbar-nav {
        float: right;
        margin: 0;
        justify-content: right;
    }

    .navbarColor02{
        width: 250px;
    }

    .me-auto{
        margin: 0 !important;
    }
}


#pie {
    text-align: center;
    background-color: indigo;
}

.navbar{
    clear: right;
}