.navbar {
    justify-content: space-between;
}

#titulo {
    font-family: 'Dancing Script', cursive;
}

li a {
    text-align: center;
}

li a:hover {
    background-color: rgb(2, 2, 66);
}

@media (max-width: 574px)
/*xs*/

{
    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .navbar {
        width: 100%;
        justify-content: center;
    }
    .row {
        padding: 0;
        margin: 2em;
        float: left;
        width: 80%;
    }
    .container {
        align-items: center;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .navbar-toggler {
        float: right;
    }
    .titulos {
        margin: 0;
        padding: 0;
    }
    .titulos h1 {
        font-size: 2em;
        font-family: 'Times New Roman', Times, serif;
    }
    img {
        width: 100%;
        height: 12em;
    }
    #texto {
        width: 90%;
        font-size: 20px;
        margin: 0 1em;
    }
    #botones {
        margin: 0;
        padding: 0;
        float: right;
        justify-content: space-between;
    }
    #titulo {
        font-size: 1.5em;
    }
}

@media (min-width: 575px) and (max-width: 768px)
/*sm*/

{
    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .navbar {
        width: 100%;
        justify-content: center;
    }
    .row {
        padding: 0;
        margin: 2em 4em;
        float: left;
        width: 80%;
    }
    .container {
        align-items: center;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .navbar-toggler {
        float: right;
    }
    .titulos {
        margin: 0;
        padding: 0;
    }
    .titulos h1 {
        font-size: 2.5em;
        font-family: 'Times New Roman', Times, serif;
    }
    img {
        width: 100%;
        height: 20em;
    }
    #texto {
        width: 90%;
        font-size: 20px;
        margin: 0 1em;
    }
    #botones {
        margin: 0;
        padding: 0;
        float: right;
        justify-content: space-between;
    }
    #titulo {
        font-size: 2em;
    }
}

@media (min-width: 768px) and (max-width: 991px)
/*md*/

{
    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .navbar {
        width: 100%;
        justify-content: center;
    }
    .row {
        padding: 0;
        margin: 2em 6em;
        float: left;
        width: 80%;
    }
    .container {
        align-items: center;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .navbar-toggler {
        float: right;
    }
    .titulos {
        margin: 0;
        padding: 0;
    }
    .titulos h1 {
        font-size: 2.5em;
        font-family: 'Times New Roman', Times, serif;
    }
    img {
        width: 100%;
        height: 30em;
    }
    #texto {
        width: 90%;
        font-size: 20px;
        margin: 0 1em;
    }
    #botones {
        margin: 0;
        padding: 0;
        float: right;
        justify-content: space-between;
    }
    #titulo {
        font-size: 2em;
    }
}

@media (min-width: 992px) and (max-width: 1200px)
/*lg*/

{
    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .navbar {
        width: 100%;
        justify-content: center;
    }
    .row {
        padding: 0;
        margin: 2em 10em;
        float: left;
        width: 80%;
    }
    .container {
        align-items: center;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .navbar-toggler {
        float: right;
    }
    .titulos {
        margin: 0;
        padding: 0;
    }
    .titulos h1 {
        font-size: 2.5em;
        font-family: 'Times New Roman', Times, serif;
    }
    img {
        width: 100%;
        height: 30em;
    }
    #texto {
        width: 90%;
        font-size: 20px;
        margin: 0 1em;
    }
    #botones {
        margin: 0;
        padding: 0;
        float: right;
        justify-content: space-between;
    }
    #titulo {
        font-size: 2em;
    }
}

@media (min-width: 1201px)
/*xl*/

{
    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .navbar {
        width: 100%;
        justify-content: center;
    }
    .row {
        padding: 0;
        margin: 2em 10em;
        float: left;
        width: 80%;
    }
    .container {
        align-items: center;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .navbar-toggler {
        float: right;
    }
    .titulos {
        margin: 0;
        padding: 0;
    }
    .titulos h1 {
        font-size: 3em;
        font-family: 'Times New Roman', Times, serif;
    }
    img {
        width: 100%;
        height: 30em;
    }
    #texto {
        width: 90%;
        font-size: 20px;
        margin: 0 1em;
    }
    #botones {
        margin: 0;
        padding: 0;
        float: right;
        justify-content: space-between;
    }
    #titulo {
        font-size: 2em;
    }
}

.navbar {
    justify-content: space-between;
}

#principal {
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: rgb(230, 225, 225);
}

.titulos {
    margin-left: 1em;
}

div p {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

#inicial {
    font-size: 2em;
    font-weight: bold;
    height: 2em;
}

#enlaces a {
    text-decoration: none;
    color: black;
}

#enlaces a:hover {
    color: whitesmoke;
    background-color: gray;
}